---
# This workflow requires a GALAXY_API_KEY secret present in the GitHub
# repository or organization.
#
# See: https://github.com/marketplace/actions/publish-ansible-role-to-galaxy
# See: https://github.com/ansible/galaxy/issues/46

name: Release to Ansible Galaxy
"on":
  push:
    tags:
      - "v*"

#defaults:
#  run:
#    working-directory: "moreskylab.jenkins"

jobs:

  release:
    name: Release to Galaxy
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v4

      - name: Set up Python 3.
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install Ansible.
        run: pip3 install ansible-core

      - name: Publish to Galaxy
        run: >-
          ansible-galaxy role import --api-key ${{ secrets.GALAXY_API_KEY }}
          $(echo ${{ github.repository }} | cut -d/ -f1) $(echo ${{ github.repository }} | cut -d/ -f2)
 # - name: Publish to Galaxy
      #   uses: robertdebock/galaxy-action@1.2.1
      #   with:
      #     galaxy_api_key: ${{ secrets.GALAXY_API_KEY }}
